:root {
    /* Colour vars */
    --color-background: #282C33;
    --color-purple: #C778DD;
    --color-font: #FFFFFF;
    --color-font-gray: #ABB2BF;

    /* Fonts vars */ 
    --font-text: 'Fira Code', serif;
}