body {
    background-color: var(--color-background);
    font-family: var(--font-text);
}

main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.purple-text {
    color: var(--color-purple);
}

.container {
    max-width: 80rem;
    margin: 0 auto;
    position: relative;
}

.box-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.up_link {
    position: absolute;
    width: 1.875rem;
    height: 1.875rem;
    right: 0;
}