.projects-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1.75rem;
}

.projects-title {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-font);
    padding-top: 1rem;
}

.projects-cards {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.project-card  {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.0625rem solid var(--color-font-gray);
}

.project-card-img {
    object-fit: cover;
    border-bottom: 0.0625rem solid var(--color-font-gray);
}

.project-card-box {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.project-card-languages {
    color: var(--color-font-gray);
    width: 100%;
    padding: 0.5rem;
    border-bottom: 0.0625rem solid var(--color-font-gray);
}

.project-card-title {
    color: var(--color-font);
    font-size: 24px;
    font-style: normal;
    padding: 0.5rem;
    font-weight: 500;
}

.project-card-desc {
    color: var(--color-font-gray);
    padding: 0.5rem;
}